body {
	font-family: Arial, sans-serif;
	padding: 0 25%;
}

/* КАРТИНКА ======================================== */

img {
	margin: 0 0 0.5em 0;
	max-width: 100%;
}

/* АДАПТИВНЫЙ РЕЖИМ ======================================== */

@media (max-width: 800px) {

body {
	padding: 0.5em;
}

}